In [37]:
import pandas as pd
import numpy as np

from sklearn.naive_bayes import GaussianNB, BernoulliNB
# , MultinomialNB, ComplementNB gave 'X must be non-negative' errors
from sklearn.model_selection import cross_val_predict, cross_val_score

In [38]:
training_df = pd.read_csv('../train.csv')
training_df.set_index('Timestamp', inplace=True)
training_df.drop(['Country', 'Ad Topic Line'], axis=1, inplace=True)
training_df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,...,Yemen,Zambia,Zimbabwe,afternoon,evening,morning,night,Ad Line Length,Ad Line Word Length,Clicked on Ad
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-01-29 00:45:19,-1.003266,-0.475928,-1.074513,-1.369008,0,0,0,0,0,0,...,0,0,0,0,0,0,1,-0.247760,-0.451417,1
2016-01-05 20:58:42,0.838468,0.211953,0.176047,1.637189,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0.629266,3.723539,0
2016-06-18 16:02:34,-1.895712,0.441247,-0.705899,-0.666237,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3.611156,1.636061,1
2016-06-21 00:52:47,0.386877,-0.705222,1.065619,1.014610,0,0,0,0,0,0,...,0,0,0,0,0,0,1,-0.773976,-0.451417,0
2016-04-17 05:08:52,1.199110,1.358422,-0.643565,-1.009855,0,0,0,0,0,0,...,0,0,0,0,0,1,0,-1.475597,-0.451417,1

In [39]:
X = training_df.loc[:, 'Daily Time Spent on Site': 'Ad Line Word Length']
y = training_df['Clicked on Ad']

# Helper Function

In [40]:
def cross_val_score_info(scores, nb_type):
    print(nb_type)
    print(f'Scores: {scores}')
    print(f'Mean: {scores.mean()}')
    print(f'Std: {scores.std()}')

# Models

In [41]:
g_gaussian = GaussianNB()
scores = cross_val_score(gaussian, X, y, scoring='accuracy', cv=5)
cross_val_score_info(scores, 'GaussianNB')

GaussianNB
Scores: [0.5125  0.4875  0.6     0.5     0.54375]
Mean: 0.5287499999999999
Std: 0.0402336923485777

In [42]:
b_gaussian = BernoulliNB()
scores = cross_val_score(b_gaussian, X, y, scoring='accuracy', cv=5)
cross_val_score_info(scores, 'BernoulliNB')

BernoulliNB
Scores: [0.90625 0.93125 0.925   0.93125 0.9375 ]
Mean: 0.9262499999999999
Std: 0.010752906583803287